@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo global rápido para garantir o Dark Mode de fundo em todo o app */
body {
  background-color: #020617; /* bg-slate-950 do Tailwind */
  color: #f8fafc;            /* text-slate-50 do Tailwind */
  font-family: sans-serif;
}